body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: 400px; }

.mainHeader {
  font-family: "Barlow"; }
  .mainHeadermainHeader__nav {
    display: inline; }
  .mainHeader__nav-logo {
    margin: 60px 160px; }
  .mainHeader__menu {
    float: right;
    line-height: 100px;
    margin: 20px 160px; }
  .mainHeader__menu a {
    margin: 60px 10px;
    color: #5b5f71;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    padding: 0 10px;
    transition: 0.4s; }
  .mainHeader__menu a:hover {
    text-decoration: underline; }
  .mainHeader__nav-show, .mainHeader__nav-hide {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none; }
  .mainHeader__nav-show {
    float: right; }
  .mainHeader__nav-show img {
    line-height: 100px; }
  .mainHeader__nav-menu a:hover, .mainHeader__nav-show:hover, .mainHeader__nav-hide:hover {
    color: #ff5c5c; }
  .mainHeader__background {
    float: right;
    overflow: hidden;
    margin-top: 40px; }
  .mainHeader__background img {
    margin-right: -265px; }
  .mainHeader__menu-point a, .mainHeader__menu-login a {
    color: #a0a1ac; }

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.content {
  margin: 80px 160px; }
  .content__title {
    margin-bottom: 20px; }
  .content__title-new {
    color: white;
    background-color: #000000;
    padding: 4px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-right: 10px; }
  .content__title-dashboard {
    text-transform: uppercase;
    color: #a0a1ac;
    letter-spacing: 6px; }
  .content__subtitle {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 80px; }
  .content__subtitle-para {
    color: #5b5f71;
    margin-bottom: 40px; }
  .content__button {
    background-color: #ff5c5c;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 20px;
    cursor: pointer; }
  .content__button:hover {
    background-color: rgba(255, 92, 92, 0.7); }
  .content__subtitle-lastline {
    text-transform: uppercase;
    color: #a0a1ac;
    letter-spacing: 2px; }
